header
{
    width: 100%;
    background-color: aquamarine;
    border: 2px solid black;
}

.menu{
    height: 130px;
}

.menuBtn{
    background-color: blueviolet;
    width: 150px;
    border-radius: 50%;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.menuBtn:hover{
    background-color: darkblue;
    color: white;
}